<body>
    <h3 class="text-center text-warning-emphasis">Detailed Blog</h3>
    <img src="{{blog.image}}" class="h-100 w-100 mx-auto" alt="Unable to load image">
    <h3 class="card-title">{{blog.title}}</h3>
    <h5 class="card-subtitle mb-2 text-muted">Author: {{blog.author}}</h5>  
    <p class="card-text"> Description :- <br> {{blog.description}}</p>
<!--     <div>
        <div class="card" style="width: 18rem;">
            <img src="{{blog.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.author}}</h6>
                <p class="card-text">{{blog.description}}</p>
            </div>
        </div>
    </div> -->

</body>