.body{
    background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg?ga=GA1.1.1700682945.1715361201&semt=ais_hybrid');
}



.card-text{
    overflow: hidden; /* Hides overflowing text */
    display: block; /* Ensures proper layout */
    max-height: 6em; /* Adjust this based on your line height (e.g., 1.5em × 4 lines = 6em) */
    line-height: 1.5em; /* Controls spacing between lines */
    text-overflow: ellipsis; /* Adds '...' to truncated text */
    white-space: normal; /* Allows multiline wrapping */
}